<div class="container">
    <div class="row">
        <div class="col-md-6">
            <button ng-click="$ctrl.toggleBlock()">Show all</button>
                <div ng-repeat="user in $ctrl.users">
                    <div ng-if="$ctrl.show || user.photo !== undefined" ng-click="$ctrl.selectUser(user)">
                    
                    <div ng-class="{table-border : user.checked}">

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{user.first}} {{user.last}}</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class=" col-md-9 col-lg-9 ">
                                        <table class="table table-user-information">
                                            <tbody>
                                            <tr><td>Photo:</td><td><user-photo image="user.photo"></user-photo></td></tr>
                                            <tr><td>Date birthday</td><td>{{user.dob}}</td></tr>
                                            <tr><td>Gender</td><td>{{user.gender}}</td></tr>
                                            <tr><td>Location</td><td>{{user.street}} {{user.city}}</td></tr>
                                            <tr><td>Email</td><td><a href="mailto:{{user.email}}">{{user.email}}</a></td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer"></div>
                        </div>
                        </div>
                    </div>
                </div>

<div class="table-border">sadfasafsasdfsdass</div>

        </div>
    </div>
</div>

