<div class="container">
    <div class="row">
        <div class="col-md-2">
            <label>With picture only: <input type="checkbox" ng-model="$ctrl.search.withPictureOnly"/>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <user-card ng-if="$ctrl.search.withPictureOnly && user.photo || !$ctrl.search.withPictureOnly"
                       user="user" ng-repeat="user in $ctrl.users"></user-card>
        </div>
    </div>
</div>