<div style="width:50%; margin:0 auto;"><label>Limit to:</label>
    <input ng-model="$ctrl.limit" type="number"/>
</div>
<div class="container" style="margin-top:30px;">
    <div class="row">
        <form class="form-horizontal">
            <h4 class="form-group text-center">Add a new letter:</h4>
            <div class="form-group">
                <label for="email">To:</label>
                <input type="text" id="email" ng-model="$ctrl.newLetter.to" class="form-control input-lg">
            </div>

            <div class="form-group">
                <label for="subject">Subject</label>
                <input type="text" id="subject" ng-model="$ctrl.newLetter.subject" class="form-control input-lg">
            </div>

            <div class="form-group">
                <label for="textarea">Message</label>
                <textarea class="form-control" ng-model="$ctrl.newLetter.body" id="textarea" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-primary" ng-click="$ctrl.add()">Add</button>
        </form>
    </div>
</div>

<div class="container" style="margin-top:30px;">
    <div class="row">
        <div class="col-md-6" ng-repeat="letter in $ctrl.letters | limitTo:$ctrl.limit">
            <letter content="letter" on-delete="$ctrl.delete(letter)"></letter>
        </div>
    </div>
</div>
