
<div><input type="checkbox" ng-model="$ctrl.showUsers">Показывать пользователей</div>
<div> <input type="checkbox" ng-model="$ctrl.showOnlyWithPhoto"> Показывать только с фото</div>
<div> <input type="checkbox" ng-model="$ctrl.addingUsers"> Режим добавления пользователей</div>
<div><input type="checkbox" ng-model="$ctrl.debugMode">Режим отладки</div>

<div ng-if="$ctrl.debugMode">
  {{$ctrl.users}}
  {{$ctrl.user}}
</div>
<!--добавление пользователей начало-->

<div class="panel panel-info" ng-if="$ctrl.addingUsers">
    <div class="panel-heading">
        <h3 class="panel-title">Введите данные нового пользователя : </h3>
    </div>
    <div class="panel-body">
     <div class="row">
      <div class="col-md-9 col-lg-9">
       <table class="table table-user-information">
        <tbody>
          <tr><td>Имя</td><td><input type="text"           ng-model="$ctrl.user.firstName"></td></tr>
          <tr><td>Фамилия</td><td><input type="text"       ng-model="$ctrl.user.lastName"></td></tr>
          <tr><td>Дата рождения</td><td><input type="date" ng-model="$ctrl.user.birthdayDate"></td></tr>
          <tr><td>Пол</td><td><input type="text"           ng-model="$ctrl.user.sex"></td></tr>
          <tr><td>Адрес</td><td><input type="text"         ng-model="$ctrl.user.address"></td></tr>
          <tr><td>Email</td><td> <input type="email"        ng-model="$ctrl.user.email"> </td>
          <tr><td>Photo id</td><td> <input type="number"        ng-model="$ctrl.user.photoId"> </td>
        </tbody>
       </table>
      </div>
     </div>
    </div>

    <div><button ng-click="$ctrl.addUser()">Добавить пользователя</button> </div>

</div>


<!--добавление пользователей окончание-->

<!--вывод пользователей начало-->

<div ng-if="$ctrl.showUsers " class="panel panel-info" ng-repeat="user in $ctrl.users track by $index">
  
  <div class="panel-heading">
    <h3 class="panel-title">{{user.lastName}} {{user.firstName}}</h3>
  </div>
  <div class="panel-body"  ng-if="$ctrl.isUserVisible(user)" ng-click="$ctrl.markCard($event)">
    <div class="row">
      <div class=" col-md-9 col-lg-9 ">
        <table class="table table-user-information">
          <tbody>
          <tr>
            <td> {{user.photoId}}<avatar user="user"></avatar> </td>
          </tr>
          <tr><td>Дата рождения</td><td>{{user.birthdayDate}}</td></tr>
          <tr><td>Пол</td><td>{{user.sex}}</td></tr>
          <tr><td>Адрес</td><td>{{user.address}}</td></tr>
          <tr><td>Email</td><td><a href="mailto:"{{user.email}}>{{user.email}}</a></td>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="panel-footer"></div>
</div>
<!--вывод пользователей окончание-->